/*{box-sizing:border-box;}*/

body {
    background-color: #c2e0d8;
    font-family: "Arial", Arial, sans-serif;
}


.bgimg {
    position:fixed;
    opacity:1;
    width: 100%;
}

.greeting {
    color: #4d5956;
    text-align: center;
    font-size: 2em;
    position: relative;
}

.wikipedia-container {
    width:25%;
    padding:15px;
    /*float:right;*/
    /*margin-right: 15px;*/
    background-color: rgba(255,255,255,0.7);
    border-style: solid;
    border-color: #b9ab99;
}

.wiki-links {
    text-align: left;
}

.nytimes-container {
    padding: 15px;
    width: 50%;
    /*float:left;
    margin-right:300px;*/
    background-color: rgba(255,255,255,0.7);
    border-style: solid;
    border-color: #b9ab99;
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:8px;
    border-top: 1px ridge #7d756c;
}
.article:first-child {
    border-top:none;
}

#moveForm {
    text-align: center;
    font-size: 14px;
    padding-bottom: 13px;
}

#nytimes-header {
    color: #45504d;
}

#wikipedia-header {
    color: #45504d;
}


li a {

    color: #7d674c;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-style: italic;
}

li a:hover {
    background-color: #80b5b8;
    color:black;
}



/* Responsive design */

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Arial", Arial, sans-serif;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 50%%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 25%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


