/*{box-sizing:border-box;}*/

body {
    background-color: white;
    font-family: "Arial", Arial, sans-serif;
}

.t {

}

.bg{
    background: url(../img/pan1.jpeg);
    background-repeat:no-repeat;
    background-position: center; 
    width: 100%;
    height:200px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

.greeting {
    color: white;
    text-align: center;
    font-size: 2.5em;
    position: relative;
    padding-top: 5px;
}

.element {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.element2 {
    text-shadow:
        .5px 1px 0 #000,
        0px 1px 0 #000,
        .5px 1px 0 #000,
        0px 1px 0 #000;
}

.wikipedia-container {
    padding:10px;
    /*float:right;*/
    /*margin-right: 15px;*/
    background-color: rgba(255,255,255,0.7);
    border-style: solid;
    border-color: #584646;
    position: relative;
    top:202px;
}

/*.wiki-links {
    margin: 0;
    padding: 12px;
}*/



 #map {
   width: 470px;
   height: 450px;
   background-color: grey;
 }
 .gMap{
    /*top:500px;
    left:600px;*/
    top: 240px;
     border-style: solid;
    border-color: #584646;
 }


.nytimes-container {
    padding: 10px;
    padding-top: 20px;
    /*float:left;
    margin-right:300px;*/
    background-color: rgba(255,255,255,0.7);
    border-style: solid;
    border-color: #584646;
    position: relative;
    top:212px;
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:8px;
    border-top: 1px ridge #7d756c;
}
.article:first-child {
    border-top:none;
}

#moveForm {
    text-align: center;
    font-size: 14px;
    padding-bottom: 13px;
}

#nytimes-header {
    color: #10a7b9;
}

#wikipedia-header {
    color: #10a7b9;
}


li a {

    color: #833459;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

li a:hover {
    background-color: #d5bbc7;
    color:black;
}



/* Responsive design */

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 10px;
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 24%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


